# Variáveis de Ambiente
.env
.env.*

# Ambientes Virtuais
venv/
env/
.venv/
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# IDE configs
.vscode/
.idea/
*.swp

# SO
Thumbs.db
.DS_Store

# Logs (server)
*.log
