# Variáveis de Ambiente
.env
.env.*
temp/

# Arquivos Gerados (Segurança)
jwt_secret.txt

# Ambientes Virtuais
venv/
env/
.venv/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Agent/IDE configs
.gemini/
.vscode/
.idea/
*.swp

# SO
Thumbs.db
.DS_Store

# Logs (server)
*.log
